
@{
    ViewData["Title"] = "Dashboard";
}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">eTill Remote</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Menu
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Stock","Index5", "New")</li>
                    <li><a href="#">Sales</a></li>
                    <li><a href="#">Debtors</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<h1>Welcome to Dashboard @ViewBag.UserName</h1>

@Html.ActionLink("SignOut","SignOut")

<form action="~/Login/Dashboard" method="post">
    @Html.DropDownList("IPAddress")
    <input type="submit" value="submit" />
</form>