
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome to Dashboard @ViewBag.UserName</h1>

@Html.ActionLink("SignOut","SignOut")

<form action="~/Login/Dashboard" method="post">
    @Html.DropDownList("Ipaddress")
    <input type="submit" value="submit" />
</form>